<!doctype html>
<html ng-app="myApp">
<head>
  <style>
    label { display:inline-block; width: 200px; }
    form { padding-bottom: 25px; }
    form div { padding-bottom: 5px; }
  </style>
</head>
<body>
    <h1>Example: ngModelLocation</h1>
    <div ng-controller="myController">
        <form>
            <div>
                <label>Text</label>
                <input type="text" ng-model="form.text" ng-model-location="" />
            </div>
            <div>
                <label>Number</label>
                <input type="number" ng-model="form.number" ng-model-location="" />
            </div>
            <div>
                <label>Checkbox</label>
                <input type="checkbox" ng-model="form.checkbox" ng-model-location="" />
            </div>
            <div>
                <label>Date</label>
                <input type="date" ng-model="form.date" ng-model-location="" />
            </div>
            <div>
                <label>Email</label>
                <input type="email" ng-model="form.email" ng-model-location="" />
            </div>
            <div>
                <label>Month</label>
                <input type="month" ng-model="form.month" ng-model-location="" />
            </div>
            <div>
                <label>Week</label>
                <input type="week" ng-model="form.week" ng-model-location="" />
            </div>
        </form>

        <pre class="raw">{{form | json}}</pre>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../dist/extends-ng-model.min.js"></script>
    <script>
        angular.module("myApp", ['extendsNgModel'])
            .controller("myController", function($scope) {
                $scope.form = {
                    text: "abcd",
                    number: 123,
                    checkbox: true,
                    date: new Date('2001-01-01'),
                    email: "ab@cd.ef",
                    month: new Date('2001-01'),
                    week: new Date('2001-01-01')
                }
            });
    </script>
</body>
</html>
