<!doctype html>
<html ng-app="myApp">
<head>
  <style>
    label { display:inline-block; width: 200px; }
    form { padding-bottom: 25px; }
    form div { padding-bottom: 5px; }
  </style>
</head>
<body>
    <h1>Example: ngModelCache</h1>

    <a href="#" ng-init="showForm = true" ng-click="showForm = !showForm">
      Click here to reset the Form
    </a>

    <div ng-if="showForm">
      <div ng-controller="myController">
          <form>
              <div>
                  <label>Text</label>
                  <input type="text" ng-model="form.text" ng-model-cache="" />
              </div>
              <div>
                  <label>Number</label>
                  <input type="number" ng-model="form.number" ng-model-cache="" />
              </div>
              <div>
                  <label>Checkbox</label>
                  <input type="checkbox" ng-model="form.checkbox" ng-model-cache="" />
              </div>
          </form>

          <pre class="raw">{{form | json}}</pre>
      </div>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../dist/extends-ng-model.min.js"></script>
    <script>
        angular.module("myApp", ['extendsNgModel'])
            .controller("myController", function($scope) {
                $scope.form = {
                    text: "abcd",
                    number: 123,
                    checkbox: true
                }
            });
    </script>
</body>
</html>
