<!doctype html>
<html ng-app="myApp">
<head>
  <style>
    label { display:inline-block; width: 200px; }
    form { padding-bottom: 25px; }
    form div { padding-bottom: 5px; }
  </style>
</head>
<body>
    <h1>Example: ngModelCache</h1>

    <a href="#" ng-init="showForm = true" ng-click="showForm = !showForm">
      Click here to reset the Form
    </a>

    <div ng-if="showForm">
      <div ng-controller="myController">
          <form>
              <div>
                  <label>Text</label>
                  <input type="text" ng-model="form.text" ng-model-cache="" />
              </div>
              <div>
                  <label>Number</label>
                  <input type="number" ng-model="form.number" ng-model-cache="" />
              </div>
              <div>
                  <label>Checkbox</label>
                  <input type="checkbox" ng-model="form.checkbox" ng-model-cache="" />
              </div>
              <div>
                  <label>Date</label>
                  <input type="date" ng-model="form.date" ng-model-cache="" />
              </div>
              <div>
                  <label>Email</label>
                  <input type="email" ng-model="form.email" ng-model-cache="" />
              </div>
              <div>
                  <label>Month</label>
                  <input type="month" ng-model="form.month" ng-model-cache="" />
              </div>
              <div>
                  <label>Week</label>
                  <input type="week" ng-model="form.week" ng-model-cache="" />
              </div>
              <div>
                  <label>Time</label>
                  <input type="time" ng-model="form.time" ng-model-cache="" />
              </div>
              <div>
                  <label>Date Time</label>
                  <input type="datetime-local" ng-model="form.datetime" ng-model-cache="" />
              </div>
              <div>
                  <label>Radio</label>
                  <input type="radio" value="a" ng-model="form.radio" ng-model-cache="">
                  <input type="radio" value="b" ng-model="form.radio" ng-model-cache="">
              </div>
              <div>
                  <label>Url</label>
                  <input type="url" ng-model="form.url" ng-model-cache="" />
              </div>
              <div>
                  <label>Select</label>
                  <select ng-model="form.select" ng-model-cache="">
                    <option value="a">A</option>
                    <option value="b">B</option>
                  </select>
              </div>
              <div>
                  <label>Text Area</label>
                  <textarea ng-model="form.textarea" ng-model-cache=""></textarea>
              </div>
          </form>

          <pre class="raw">{{form | json}}</pre>
      </div>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../dist/extends-ng-model.min.js"></script>
    <script>
        angular.module("myApp", ['extendsNgModel'])
            .controller("myController", function($scope) {
                $scope.form = {
                    text: "abcd",
                    number: 123,
                    checkbox: true,
                    date: new Date('2001-01-01'),
                    email: "ab@cd.ef",
                    month: new Date('2001-01'),
                    week: new Date('2001-01-01'),
                    time: new Date('1970-01-01 01:00:00'),
                    datetime: new Date('2001-01-01 01:00:00'),
                    radio: 'a',
                    url: 'http://google.com',
                    select: 'a',
                    textarea: 'a'
                }
            });
    </script>
</body>
</html>
